html {
  font-size: 20px;
  background-color: #FBFBFB;
}

h1 {
  margin: 10px;
  font-weight: 1000;
  line-height: 2;
  color: #60D3CC;
}

input, button {
    margin: 5px;
}
.result {
    border-style: solid;
}
.file-label{
    font-weight: bold;
}
