html {
  font-size: 20px;
  background-color: #FBFBFB;
}

h1 {
  margin: 10px;
  font-weight: 500;
  line-height: 1.5;
  color: #60D3CC;
}

input, button{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content{
  font-size: 20px;
  background-color: #FBFBFB;
}

.result {
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
}
.file-label{
  font-weight: bold;
  margin-left: 10px;
}


