<div>
    <div>
        <div>
            <input type="button" (click)="goHome($event)" value="Import new file" />
        </div>

        <label class="file-label">Name file: &nbsp;</label>
        <span>{{fileName}}</span>
        <br/>
        <label class="file-label">Statistiques</label>
        <div class="result">
            {{stats}}
        </div>
        <br/>
        <label class="file-label">Json: </label>
        <div class="result">
            {{result}}
        </div>
    </div>
</div>
